/* Labelのスタイル */
.welcomeText {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333; /* ダークグレー */
}

/* Buttonのスタイル */
.button {
    -fx-background-color: #d4d4d4; /* 薄いグレー */
    -fx-text-fill: black;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-padding: 12px 36px;
    -fx-border-radius:  10px;
    -fx-background-radius: 10px;
}

/* Buttonのホバー時のスタイル */
.button:hover {
    -fx-background-color: #b8b8b8; /* グレー */
}

/* Buttonのクリック時のスタイル */
.button:pressed {
    -fx-background-color: #666666; /* 濃いグレー */
}