.label {
    -fx-padding: 50 0 0 50;
    -fx-font-weight: bold;
    -fx-font-size: 48px;
}

.list-view {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 10px;
    -fx-padding: 10;
}

.list-view .list-cell {
    -fx-padding: 5 15;
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 12px;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #cccccc;
    -fx-background-radius: 6px;
}

.scroll-bar:vertical:hover .thumb {
    -fx-background-color: #aaaaaa;
}
