.card {
    -fx-background-color: white;
    -fx-padding: 12px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
    -fx-max-width: 800px;
    -fx-max-height: 80px;
}

.card:hover {
    -fx-background-color: #DDDDDD;
}

.card-content {
    -fx-alignment: center-left;
    -fx-min-height: 120px;
}

.goods-name {
    -fx-font-size: 32px;
    -fx-font-weight: 900;
    -fx-text-fill: black;
    -fx-padding: 0;
}

.goods-id {
    -fx-font-size: 14px;
    -fx-text-fill: #555555;
    -fx-padding: 0 0 40px 0;
}

.goods-price {
    -fx-font-size: 24px;
    -fx-text-fill: #555555;
    -fx-padding: 0;
}

.cancel-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #365dff;
    -fx-underline: true;
}
