.container {
    -fx-padding: 50;
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 48px;
}

.sub-title {
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

.cart {
    -fx-min-width: 600px;
    -fx-min-height: 800px;
}

.member-info {
    -fx-background-color: white;
    -fx-padding: 24px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
    -fx-max-width: 400px;
    -fx-max-height: 80px;
}

.member {
    -fx-font-size: 18px;
    -fx-font-weight: 900;
    -fx-text-fill: black;
    -fx-padding: 0 0 12px 0;
}

.list-view {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 10px;
    -fx-padding: 10;
}

.list-view .list-cell {
    -fx-padding: 5 0;
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 12px;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #cccccc;
    -fx-background-radius: 6px;
}

.scroll-bar:vertical:hover .thumb {
    -fx-background-color: #aaaaaa;
}

.search-field {
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
    -fx-pref-height: 40px;
    -fx-font-size: 24px;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.search-field.error {
    -fx-border-color: red;
}

.search-field:focused {
    -fx-border-color: #4a90e2;
}

.cart-button {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: #4CAF50; /* 緑色 */
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.cart-button:hover {
    -fx-background-color: #45a049; /* ホバー時の色変更 */
}