.container {
    -fx-padding: 50;
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 48px;
}

.card {
    -fx-background-color: white;
    -fx-padding: 24px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
    -fx-max-width: 600px;
    -fx-max-height: 80px;
}

.card-label {
    -fx-font-size: 18px;
    -fx-font-weight: 900;
    -fx-text-fill: black;
    -fx-padding: 0 0 12px 0;
}

.card-column {
    -fx-min-width: 120px;
}

.cart-button {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: #4CAF50; /* 緑色 */
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.cart-button:hover {
    -fx-background-color: #45a049; /* ホバー時の色変更 */
}